body{
    display: block;
}
.bubbleVickycontainer{
    background: rgb(243, 216, 216);
    width: 400px;
    height: 100vh;
    border: 10px solid transparent;
    border-radius: 10px;
text-align: center;
margin: 100px auto;
}
.graph{

    padding: 10px;
   /* transform: rotate(); /* display: table-cell; */
   /* transform: ; */ */
}
 .spanDysplay {
    /* background: blue;
    border-radius: 5pt; */
    /* width: 5px; */
    /* height: var(--x);  */
    /* height: 10; */
  /* display: list-item;   */
} 
button {
    width: 150PX;
    height: 35px;
    margin: 10px ;

}
